.actions {
  margin-bottom: 1.5rem;
}

.actions fieldset {
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-bottom: 1rem;
}

.actions input[type='number'] {
  min-width: 200px;
  margin-top: 0.5rem;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
}

.actions input[type='number']::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.actions--radio-group label {
  padding: 0 1rem;
}

.actions input[type='radio'] {
  margin-right: 0.5rem;
}

.actions--play-btn {
  background: var(--purple-gradient);
  color: #fff;
  font-family: var(--font-accent);
  font-size: 1.5rem;
  padding: 0.5rem 1rem 0.25rem;
  line-height: 1;
  border: 0;
  border-radius: 1rem;
  text-shadow: var(--text-shadow);
}
