.App {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: var(--font-accent);
  letter-spacing: 0.025rem;
  font-weight: normal;
}

.yolo-header {
  padding: 0.5rem 0;
}

.yolo-logo img {
  max-width: 275px;
  margin: 0 auto;
}

.yolo-header p {
  display: none;
}
