.App {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: var(--font-accent);
  letter-spacing: 0.025rem;
  font-weight: normal;
}

.yolo-header {
  padding: 0.5rem 0;
}

.yolo-logo img {
  max-width: 275px;
  margin: 0 auto;
}

.yolo-header p {
  display: none;
}

.yolo-footer {
  background: var(--purple-gradient);
  padding: 0 0 1rem;
  position: relative;
  margin-top: 2rem;
  z-index: 10;
}

.yolo-footer::before {
  transform: skewY(2deg);
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  transform: skewY(2deg);
  height: 30px;
  background: var(--purple-gradient);
  z-index: -1;
}
