.history {
  background: var(--purple-gradient);
  padding: 1.5rem 0;
  transform: skewY(2deg);
  margin-bottom: 1.5rem;
  box-shadow: var(--box-shadow);
}

.history--inner {
  transform: skewY(-2deg);
}

.history h3 {
  color: var(--color-accent2);
  text-shadow: var(--text-shadow);
  line-height: 1.3;
  font-size: 1.4rem;
  margin-bottom: 0.35rem;
}
